<html lang="en">
        {{>header}}

        <div class="content">
        <p>Podaj tytuł i autora</p>
	<div class="container">
	<form onsubmit="target_popup(this)">
        <div><p><label for="tytul"><b>Tytuł: </b></label></p>
            <p><input type="text" id="tytul" name="tytul" required></p></div>
                <div><p><label for="autor_imie"><b>Imię autora: </b></label></p>
            <p><input type="text" id="autor_imie" name="autor_imie" required></p></div>
                <div><p><label for="autor_nazwisko"><b>Nazwisko autora: </b></label></p>
            <p><input type="text" id="autor_nazwisko" name="autor_nazwisko" required></p></div>
        <div><p><input type="submit" value="Szukaj"> <input type="reset" value="Wyczyść"></p></div>
	</form>
	</div>
    </div>
        {{>footer}}
</html>